.modal_backdrop{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.85); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
}

.modal_backdrop:hover {
    cursor: crosshair;
}